*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*navbar*/
.navbar{  
            background:#db858582!important
        }
        .navbar-nav li{
            padding: 0 10px;
        }
        .navbar-nav li a{
                color: #fff!important;
            font-weight: 600;
            font-size: 22px;
            font-family: inherit;
            text-shadow: 4px 6px #191bb1;

        }
        .name{
        font-weight: bolder;
            font-size: 30px;
            text-shadow: 3px 4px skyblue;
        }
      .b{
            text-align: center;
        }
        .border-box{
                border-style: solid;
                border-width:thin;
            border-color: #fbab29;
        }
        .weblogo{
            width: 65px;
        }
        .moblogo{
            display: none;
        }
@media(max-width:768px)
        {
           .moblogo{
               display:block;
           width: 65px;
            }
            .weblogo{
                display: none;
           }
           .navbar{ 
            background: #e3ce3c!important;
           }
        }
/*navabr end*/

.baby{
    background: url("https://img.freepik.com/premium-photo/doctor-patient-happy-cute-baby-health-exam-medicine-health-care-concept_663268-561.jpg?w=2000");
    background-position: center;
    background-size: cover;
    height: 550px;
    margin-top: 17px;
}

/*footer*/
.footerlogo{
    width:70% ;
}
.fc{
   background: #edc1c1;
}
.social-icons a{
  color: black;
}

/*footer*/
.footerlogo{
    height: 70px;   
}
.fc{
    color: white;
    background: black;
}
.social-icons a{
  color: white;
}