
 @import url('https://fonts.googleapis.com/css2?family=Kenia&family=Noto+Serif+Gujarati&family=Noto+Serif+Telugu:wght@100&display=swap'); 
 

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*navbar*/
.navbar{  
            background:#db858582!important
        }
        .navbar-nav li{
            padding: 0 10px;
        }
        .navbar-nav li a{
                color: #fff!important;
            font-weight: 600;
            font-size: 22px;
            font-family: inherit;
            text-shadow: 4px 6px #191bb1;

        }
        .name{
        font-weight: bolder;
            font-size: 30px;
            text-shadow: 3px 4px skyblue;
        }
      .b{
            text-align: center;
        }
        .border-box{
                border-style: solid;
                border-width:thin;
            border-color: #fbab29;
        }
        .weblogo{
            width: 65px;
        }
        .moblogo{
            display: none;
        }
@media(max-width:768px)
        {
           .moblogo{
               display:block;
           width: 65px;
            }
            .weblogo{
                display: none;
           }
           .navbar{ 
            background: #e3ce3c!important;
           }
           .newlogo{
            margin-left: 124px!important;
           }
        }
/*navabr end*/
.bag{

	background-image:url(../images/b1.jpg);
	background-position: center;
    background-size: cover;
    height: 550px;
    text-align: center;
}
span{
	color: white;
}
.heading{
	margin-top: 233px;
    font-size: 61px;
    text-shadow: 7px 5px 9px cornflowerblue;
}
.why{
	background-color: cornsilk;
}
.new{
	text-align:center;
	font-family: 'Kenia', cursive;
}
.cd{ 
     font-size: 20px;
	font-family:emoji;
       background: rgb(48 170 217 / 17%);
       margin-bottom: 40px;
       border: none;
}
.newlogo{
	width: 30%;
    margin-left: 190px;
}
.btn{
    margin-bottom: 20px;
}

/*footer*/
.footerlogo{
    height: 70px;   
}
.fc{
    color: white;
    background: black;
}
.social-icons a{
      color: white;
}
