*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*navbar*/
.navbar{  
            background:#db858582!important
        }
        .navbar-nav li{
            padding: 0 10px;
        }
        .navbar-nav li a{
                color: #fff!important;
            font-weight: 600;
            font-size: 22px;
            font-family: inherit;
            text-shadow: 4px 6px #191bb1;

        }
        .name{
        font-weight: bolder;
            font-size: 30px;
            text-shadow: 3px 4px skyblue;
        }
      .b{
            text-align: center;
        }
        .border-box{
                border-style: solid;
                border-width:thin;
            border-color: #fbab29;
        }
        .weblogo{
            width: 65px;
        }
        .moblogo{
            display: none;
        }
@media(max-width:768px)
        {
           .moblogo{
               display:block;
           width: 65px;
            }
            .weblogo{
                display: none;
           }
           .navbar{ 
            background: #e3ce3c!important;
           }
        }
/*navabr end*/
.banner{
     background: url("https://wallpapercave.com/wp/wp6836261.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}
h3{
   margin-top: 30px;
   font-family: fantasy;
    text-align: center;
    text-shadow: 7px 5px 9px cornflowerblue;
    margin-bottom: 20px;
}
.rs{
     text-align: center;
    font-family: emoji

}
 .btn{
     margin-left: 65px;
    margin-bottom: 12px;
}
span{
 margin-left: 80px;
    font: icon;
}
/*footer*/
.footerlogo{
    height: 70px;   
}
.fc{
    color: white;
    background: black;
}
.social-icons a{
  color: white;
}